.header {
  grid-area: h;
  background-color: rgba(61, 40, 193, 0.92);
  border-style: double;
  border-width: 2mm;
}
.header img {
  width: 55px;
}
.loginBlock {
  float: right;

}
.loginBlock a {
  color: white;
  text-decoration-line: unset;
}
.logout {
  font-family: Georgia;
  font-size: 16px;
  padding-top: 10px;
  padding-right: 10px;
}
.logoutBtn {
  background-color: #87b0d9;
  color: #444242;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin-bottom: 20px;
  font-family: Georgia;
}
.logoutBtn:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 14px 40px 0 rgba(0,0,0,0.19);
}