@font-face {
  font-family: Lobster2;
  src: url('../../fonts/Lobster2/LobsterTwo-Italic.ttf');
}

.header {
  grid-area: h;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(110, 73, 229);
  border: 5px double #000000;
  position: sticky;
  top: 0;
  z-index: 100;
}
.smallLogo {
  height: 50px;
}
.titleText {
  font-family: Lobster2;
  font-size: 45px;
  font-weight: bold;
  font-style: italic;
}
.loginBlock {
  font-family: Georgia;
  font-size: 1rem;
}
.loginBlock a {
  color: rgba(255, 255, 255, 0.73);
  text-decoration-line: unset;
}
.logoutBlock {
  display: flex;
  flex-direction: row;
}
.logoutBlock>div {
  padding-left: .5em;
}
.loginNameContainer {
  padding-top: 1em;
  top: 30px;
}

@media (max-width: 450px) {
  .header {
    max-width: 100%;
  }
  .titleText {
    font-size: 35px;
    margin-top: 2%;
  }
}
@media (max-width: 390px) {
  .header {
    max-width: 100%;
  }
  .titleText {
    display: none;
  }
  .smallTitle {
    display: inline-block;
    padding: 0 2em 0 0;

  }
  .smallLogo:hover {

  }
}
