.header {
  grid-area: h;
  background-color: rgba(99, 69, 203, 0.92);
  border-style: double;
  border-width: 2mm;
}
.header img {
  width: 55px;
}
.title {
  display: inline-block;
  padding-left: 148px;
  padding-bottom: 15px;
}
@font-face {
  font-family: Lobster2;
  src: url('../../fonts/Lobster2/LobsterTwo-Italic.ttf');
}

.title>span {
  font-family: Lobster2;
  font-size: 45px;
  font-weight: bold;
  font-style: italic;
}
.loginBlock {
  float: right;
  font-family: Georgia;

}
.loginBlock a {
  color: white;
  text-decoration-line: unset;
}
.logout {
  font-family: Georgia;
  font-size: 16px;
  padding-top: 10px;
  padding-right: 10px;
}
.logoutBtn {
  composes: deleteBtn from '../../components/Profile/Myposts/Post/Post.module.css';
  background-color: #7d90a7;
}
.logoutBtn:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 14px 40px 0 rgba(0,0,0,0.19);
}