.nav {
  grid-area: n;
  background-color: rgba(107, 73, 229, 0.51);
  padding: 10% 1% 1% 1%;
  margin: 1% 1% 1% 2%;
  border: 1px solid black;
  border-radius: 15px;
  font-family: Georgia;
  text-align: center;
  font-size: 25px;
}

@media (max-width: 1960px) {
  .profileInfoBlock {
    max-width: 1280px;
  }
  @media (max-width: 1280px) {
    .profileInfoBlock {
      max-width: 992px;
    }
  }
  @media (max-width: 992px) {
    .profileInfoBlock {
      max-width: 750px;
    }
  }
}
@media (max-width: 767px) {
  .profileInfoBlock {
    max-width: none;
  }
}


.item a {
  font-family: Georgia;
  text-decoration-line: unset;
  letter-spacing: 1px;
  color: white;
  margin-left: 5px;
}
.item a.active {
  color: rgb(54, 10, 36);
  text-shadow: none;
}
.item:hover {
  text-shadow: 2px 2px 3px black;
  transition-duration: 0.8s;
}
.sideBarTitle {
  padding-top: 5%;
}
.sideBarItems {

}
.sideBarItem {
  width: 50px;
  padding: 2px;
}

