.profileInfoBlock {
  max-width: 1960px;
  margin: 0.4% 0.5% 0.5% 0.5%;
  padding: 1% 8%;
  border: 1px solid black;
  border-radius: 15px;
  background-color: rgba(149, 129, 210, 0.51);

}

@media (max-width: 1960px) {
  .profileInfoBlock {
    max-width: 1280px;
  }
@media (max-width: 1280px) {
  .profileInfoBlock {
    max-width: 992px;
  }
}
@media (max-width: 992px) {
  .profileInfoBlock {
    max-width: 750px;
    font-size: 10px;
  }
  .profileInfoBlock img{
    max-width: 150px;
  }
  .profileDescp {
    font-size: 10px;
   }
}
}
@media (max-width: 767px) {
  .profileInfoBlock {
    max-width: none;
  }
  .profileInfoBlock img{
    max-width: 100px;
  }
}

.contactsMore {
  margin: 0.5% 0 0 1%;
  background-color: #e7e0fc;
  border-radius: 50%;
}
.contactsMore:hover {
  box-shadow: 2px 2px 5px #383739;
}

.photoCamera {
  display: block;
  border-radius: 50%;
  border: 2px solid rgba(8, 53, 64, 0.87);
  max-width: 250px;
}
.contact {
  padding-left: 10px;
}
.profileDescp {
  font-family: Georgia;
  font-size: 20px;
  padding: 5px;
}
/*.inputFile {
  width: 115px;
  box-sizing: border-box;
  border: 1px solid #a52a2a;
  border-radius: 4px;
  background-color: #4f8fdc;
  color: white;
  margin-left: 10px;
}*/
.inputFile::-webkit-file-upload-button {
  visibility: hidden;
}
.inputFile::before {
  box-sizing: border-box;
  content: 'new photo';
  margin: 5px;
  background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
  border: 1px solid #999;
  border-radius: 3px;
  padding: 2px 5px;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt;
  white-space: nowrap;

}
.profileStatus {
  font-weight: normal;
  color: black;
}
.profileDataEditBtn {
  background-color: #555;
  color: white;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
.profileDataEditBtn:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 14px 40px 0 rgba(0,0,0,0.19);
}
.uploadPhoto {
  opacity: 0;
  position: absolute;
  z-index: -1;
}
