.item {
  color: white;
  font-size: medium;
  padding: 0 0 10px 10px;
  position: static;
}
.item img {
  width: 80px;
  border-radius: 50%;
}
.likesCont {
  display: block;
}
.likes {
  padding: 0 0 0 65px;
}
.deleteBtn {
  background-color: #555;
  color: white;
  font-size: 16px;
  font-family: Georgia;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin-bottom: 20px;
  display: inline-block;
}
.likeBtn {
  background-color: #555;
  color: white;
  font-size: 16px;
  font-family: Georgia;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin: 3% 2% 0 0;
  display: inline-block;
}
.deleteBtn {
  margin-top: 1%;
}
.postContent {
  display: inline-block;
  margin: 3.5% 0 0 2%;
}