.item {
  color: white;
  font-size: medium;
  padding: 0 0 10px 10px;
}
.item img {
  width: 80px;
  border-radius: 50%;
}
.likesCont {
  display: block;
}
.likes {
  padding: 0 0 0 65px;
}
.deleteBtn {
  background-color: #555;
  color: white;
  font-size: 16px;
  font-family: Georgia;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin-bottom: 20px;
}
.deleteBtn:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 14px 40px 0 rgba(0,0,0,0.19);
}