.paginator {
    margin: 10px
}
.pageNumber {
    border: solid black 1px;
    margin: 1px;
}
.selectedPage.pageNumber{
    color: black;
    padding: 3px 6px;
    font-weight: bold;
    border: 1px solid black;
}
.btn {
    composes: deleteBtn from '../../components/Profile/Myposts/Post/Post.module.css';
    padding: 5px;
    margin: 15px;
}
