.paginator {
    display: flex;
    justify-content: center;
    max-width: 1960px;
}
.pages {
    display: inline-block;
    margin-top: 3%;

}
.pageNumber {
    margin: 1%;
}
.selectedPage.pageNumber{
    color: black;
    padding: 1.5%;
    font-weight: bold;
    border: 1px solid black;
}
.btn {
    composes: deleteBtn from '../../components/Profile/Myposts/Post/Post.module.css';
    padding: 5px 15px 5px 15px;
    margin: 2.5% 10%;
    display: inline-block;
}
@media (max-width: 1960px) {
    .paginator {
        max-width: 1280px;
    }
}
@media (max-width: 1280px) {
    .paginator {
        max-width: 992px;
    }
}
@media (max-width: 992px) {
    .paginator {
        max-width: 750px;
    }
}
@media (max-width: 767px) {
    .paginator {
        max-width: none;
    }
}
