$font: Georgia;
@import "~bootstrap/scss/bootstrap";

.loginWrapper {
  display: flex;
  justify-content: center;
  margin: 10% 0 0 -0.2%;
  width: 100%;
  font-size: 40px;
  .login {
    border-radius: 15px;
    padding: 2%;
    display: block;
    font-family: $font;
    max-width: 100%;
    .title {
      text-align: center;
      font-size: 35px;
      margin: 0 0 10% 0;
      color: white;
    }
    .loginBtn {
      color: #ffffff;
    }
    .loginBtn:hover {
      border: 1px solid #ffffff;
    }
    .inline {
      margin-left: 4%;
      display:inline-block;
      margin-right:5px;
      font-size: 14px;
      color: white;
    }
  }
}
.field {
  font: $font;
  font-size: 1rem;
  padding: 4%;
  border-radius: 15px;
  margin: 2%;
}

@media (max-width: 2160px) {
  .loginWrapper {
    .login {

    }
    max-width: 1960px;
  }
}
@media (max-width: 1960px) {
  .loginWrapper {
    .login {

    }
    max-width: 1280px;
  }
}
@media (max-width: 1280px) {
  .loginWrapper {
    .login {
      font-size: 30px;
    }
    max-width: 992px;
  }
}
@media (max-width: 992px) {
  .loginWrapper {
    .login {
      font-size: 25px;
    }
    max-width: 750px;
  }
}
@media (max-width: 768px) {
  .loginWrapper {
    .login {
      font-size: 18px;
    }
    max-width: 412px;
  }
}
@media (max-width: 414px) {
  .loginWrapper {
    .login {
      font-size: 12px;
    }
    max-width: 400px;
  }
}
