.loginWrapper {
    display: flex;
    justify-content: center;
    margin: 10% 0 0 -0.2%;
    width: 100%;
    font-size: 40px;
}
.login {
    border-radius: 15px;
    padding: 2%;
    display: block;
    font-family: 'Georgia';
    max-width: 100%;
}
.title {
    text-align: center;
    font-size: 35px;
    margin: 0 0 10% 0;
    color: white;
}

.loginBtn {
    color: #ffffff;
}

.loginBtn:hover {
    border: 1px solid #ffffff;
}

.inline {
    margin-left: 4%;
    display: inline-block;
    margin-right: 5px;
    font-size: 14px;
    color: white;
}
.field {
    font-size: 1rem;
    padding: 4%;
    border-radius: 15px;
    margin: 2%;
}
