.login {
    font-family: Georgia;
    font-size: 13px;
    top: 50%;
    width: 100%;
    text-align: center;
}
.loginBtn {
    background-color: #f5eded;
    color: #403d3d;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 20px;
    font-family: Georgia;
}
.loginBtn:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 14px 40px 0 rgba(0,0,0,0.19);
}
.inline {
    display:inline-block;
    margin-right:5px;
}