.app-wrapper {
    margin: 0 auto;
    display: grid;
    width: auto;
    max-width: 1960px;
    max-height: 1080px;
    grid-template-areas: "h h" "n c";
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    /*grid-gap: 5px;*/
}

.app-wrapper-content {
    grid-area: c;
    background-color: rgba(40, 11, 170, 0.507);
}
