.dialogs {
    display: grid;
    grid-template-columns: 3fr 3fr 6fr;
    font-family: Georgia;
}
.dialogsItems {
    padding: 10px;
}
.dialog img {
    width: 50px;
    border-radius: 50%;
}
.dialog span{
    display: inline-block;
    text-underline: none;
    padding: 0 0 15px 20px;
    margin-bottom: 10px;
    height: 20px;
}
.logoImg {
    width: 30px;
    border-radius: 50%;
    padding: 10px 10px 0 0;

}
.messagesContent {
    padding: 5px;
}
.messages {
    padding: 15px;

}
.sendMessageBtn {
    background-color: #555;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 20px;
}
.sendMessageBtn:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 14px 40px 0 rgba(0,0,0,0.19);
}